.select {
    margin-top: 5px;
}
.select select, input[type=tel] {
    background-color: #fff;
    width: 50px;
    height: 40px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.select label {
    margin-top: 12px;
}

@media all and (max-width: 600px) {
    .select label {
        display: none;
    }
}

@media all and (max-width: 300px) {
    .select select {
        padding: 0 !important;
    }
}